@media print {
	body: {
		margin: 0px;
	}
	
	.gbc-print-shown {
		display: block !important;
		overflow: visible !important;
		visibility: visible !important;
	}
	
	.gbc-print-hidden {
		display: none !important;
		overflow: hidden !important;
		visibility: hidden !important;
	}
	
	.uk-section {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	
	.uk-card {
		padding: 0px;
	}
}