/* Hide number field up and down buttons */
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.gbc-red *, .gbc-orange *, .gbc-yellow *, .gbc-green *, .gbc-blue *, .gbc-indigo *, .gbc-violet * {
  color: #fff !important;
}

.uk-icon-button {
  border: 1px solid #000 !important;
}
.uk-icon-button * {
  color: #000 !important;
}

.gbc-box-link {
  cursor: pointer;
}

.gbc-red, .gbc-red:hover { background-color: #EB1E63 !important; }
.gbc-orange, .gbc-orange:hover { background-color: #FF5723 !important; }
.gbc-yellow, .gbc-yellow:hover { background-color: #FFC10F !important; }
.gbc-green, .gbc-green:hover { background-color: #49AF51 !important; }
.gbc-blue, .gbc-blue:hover { background-color: #00A9F4 !important; }
.gbc-indigo, .gbc-indigo:hover { background-color: #3D51B5 !important; }
.gbc-violet, .gbc-violet:hover { background-color: #9D27B0 !important; }